In [1]:
print ('hello world')

hello world

In [2]:
print ("hello world")

hello world

In [10]:
print ("ram's book")

ram's book

In [6]:
#int +,-(0-9) combination 
#float work exactly like integer but also added decimal 
#string 
#bool
#complex

x=12
y=14 
print (x+y)

26

In [9]:
type (x)

int

In [11]:
type (y)

int

In [12]:
a = 23.45
print (a)

23.45

In [13]:
type (a)

float

In [16]:
#string 
a = 123
print (a)

123

In [15]:
type (a)

int

In [17]:
a='123'
print (a)

123

In [18]:
type (a
     )

str

In [19]:
#wap to add two numbers. 
a=24
b=35
c=a+b
print(c)

59

In [ ]:
#wap to swap two numbers 
#1 with the help of 3rd variable.
#2. without 3rd variable